wyatt.pro.user
Makefile
moc_*
ui_mainwindow.h
*.o
wyatt
parsercli
scanner.cpp
parser.cpp
parser.hpp
position.hh
location.hh
stack.hh
.vscode/
appimage/
debug/
release/
*.Debug
*.Release
object_script.wyatt.*
*.aux
*.log
*.tex
*.out
*.pdf
.qmake.stash
**/stb_image.h